@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-image: url(pexels-pixabay-531880\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}